<% provide(:title, "Home") %>

<div class="jumbotron">
<h1>Request A Song Now</h1>
<div class="container">
 <% if user_signed_in? %>
 <div class="col-sm-6">
   <%= link_to "Find Events", events_path, :class => 'btn btn-lg btn-primary'  %> |
  <%= link_to "Create Local Event", new_event_path, :class => 'btn btn-lg btn-primary'  %>
 </div>
 <div class="col-sm-6">

 </div>
 <%end%>
</div>
</div>
