<% provide(:title, "Edit Event") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= render 'shared/default_form', :submit => "Create my event" %>

  </div>
</div>
